<div class="flex flex-col gap-5">
  <label for="regexp">Regular expression:</label>
  <div class="flex justify-center items-center gap-2">
    <span>/</span>
    <input
      id="regexp"
      type="text"
      data-regexp-target="regexp"
      data-action="input->regexp#test"
      class="w-8/12 p-1 bg-transparent border border-slate-50 drop-shadow-md rounded">
    <span>/</span>
    <input
      id="flags"
      type="text"
      data-regexp-target="flags"
      data-action="input->regexp#test"
      aria-label="Flags"
      class="w-1/12 p-1 bg-transparent border border-slate-50 drop-shadow-md rounded">
  </div>
</div>
