<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="Online Ruby-based regular expression editor." />

    <title>{{ site.title }}</title>

    <link rel="icon" type="image/x-icon" href="{{ '/assets/img/favicon.png' | relative_url }}">

    <script src="{{ '/build/index.js' | relative_url }}" async></script>
    {% inline_css build/index.css %}
  </head>
  <body class="bg-gray-900 text-slate-50 text-xl h-screen flex flex-col">
    {% include header.html %}
    {{ content }}
  </body>
</html>
